HELIUS_API_KEY=
DATABASE_URL=
RINGSIDE_HOSTED_SECRET=
RINGSIDE_DEMO_TREASURY_KEYPAIR=
RINGSIDE_DEMO_SELLER_KEYPAIR=
RINGSIDE_HOME=~/.ringside
ZOLANA_INDEXER_URL=https://d2xah7tnhdhcom.cloudfront.net
ZOLANA_PROVER_URL=https://d21ni15goiip6l.cloudfront.net
